{% extends 'base.html.twig' %}
{% block body %}
	<nav class="navbar has-background-grey-darker is-dark">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ path('home_page')}}">
				<p class="subtitle is-4 has-text-primary">
					<i class="fas fa-tasks"></i>
					<b>TODO</b>
				</p>
			</a>
			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-primary is-small" href="{{ path('create_task')}}">
						<strong>Ajouter une nouvelle tâche</strong>
					</a>
				</div>
			</div>
		</div>
	</nav>
	{% block content %}{% endblock %}
{% endblock %}
